*
{
    margin: 0px;
    padding: 0px;
}
body
{
    width: 100%;
    height: 100%;
    background-color:#e0e0e0;
}
.container-fluid
{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
.logo.img-fluid
{
    height:60px;
    width:60px;
}

.img-fluid
{
    height:200px;
    width:250px;
}
.socialmedia
{
 height: 20px;
 width: 22px;
}
header
{
    background-color:rosybrown;
    width: 100%;
}
footer
{
    background-color:rosybrown;
    width: 100%;
}
.hotellist
{
    margin: 2%;
    background-color:rgb(132,136,139);
    width: 40%;
}
