*
{
    margin: 0px;
    padding: 0px;
}
.container-fluid
{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
.logo.img-fluid
{
    height:60px;
    width:60px;
}

.img-fluid
{
    height:200px;
    width:250px;
}
.socialmedia
{
 height: 20px;
 width: 22px;
}
header
{
    background-color:rosybrown;
    width: 100%;
}
footer
{
    background-color:rosybrown;
    width: 100%;
}
.hotellist
{
    margin: 2%;
    background-color:rgb(132,136,139);
    width: 40%;
    display: inline-table;
    
}

.view
{
   display:flex;
   align-items: center;
   justify-content: center;
   
}   
ul
{
    margin: auto;
    padding: auto;
}
li
{
    display: inline;
    color: black;
    font-weight:bold;   
}

.mapview
{
    display: none;
}

