.container
{
    margin: 0px;
    padding: 0px;
}
.img-fluid.socialmedia
{
 height: 20px;
 width: 20px;
}
.img-fluid
{
    height: 500px;
    width: 500px;
}

.container-fluid
{
    margin: 0px;
    padding: 0px;
    position:relative;
}
.logo.img-fluid
{
    height:60px;
    width:60px;
}
.innercontent{
    width: 50%;
    height: 20%;
    background-color: rgb(132,136,139);
    margin: 2% auto 2% auto;
}
.tarrif
{
    margin: 2%;
    border: 1px black solid;
    border-radius: 5px;
    padding: 1% 2%;   
}
